<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create country</title>
</head>
<body>
<form action="#" th:action="@{/country-create}" th:object="${user}" method="post">
    <label for="country">Country</label>
    <input type="text" th:field="*{country}" id="country" placeholder="Country">
    <input type="submit" value="Create Country">
</form>
</body>
</html>




<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Create user</title>-->
<!--</head>-->
<!--<body>-->
<!--<form action="#" th:action="@{/user-create}" th:object="${user}" method="post">-->
<!--    <label for="firstName">First name</label>-->
<!--    <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">-->
<!--    <label for="lastName">Last name</label>-->
<!--    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">-->
<!--    <input type="submit" value="Create User">-->
<!--</form>-->
<!--</body>-->
<!--</html>-->