<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Create country</title>
</head>
<body>
<form action="#" th:action="@{/country-update}" th:object="${country}" method="post">
    <label for="country_id">ID</label>
    <input readonly type="number" th:field="*{id}" id="country_id" placeholder="ID">
    <br/>
    <label for="country">Country</label>
    <input type="text" th:field="*{country}" id="country" placeholder="Country">
    <br/>
    <input type="submit" value="Update Country">
</form>
</body>
</html>

